body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(Imagens/297.jpg);

}

h1{
    display: grid;
    justify-content: center;

}

.Navegação {    
    display: grid;
    justify-content: end;
    background-color:beige;

}

#Lista_horizontal {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 400px;

}

.fotos {

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com tamanhos iguais */
    padding: 50px;
    gap: 10px; /* Espaçamento entre as imagens */
    width: 80%; /* Ajuste de largura para a galeria */
    margin: 0 auto; /* Centraliza a galeria na página */
}

.margem {

    background-color: antiquewhite;
    padding: 50px;
    margin: 0 auto;
    border: 2px, solid, black;
}
