body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(imagens/297.jpg);
}

h1 {
    display: grid;
    justify-content: center;
}

.Navegação {
    display: grid;
    justify-content: end;
    background-color: beige;
}

#Lista_horizontal {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%; /* Alterado para usar largura total */
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajuste para colunas adaptáveis */
    justify-content: space-evenly;
}

.Artigo {
    background-color: antiquewhite;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.imagem_centro {
    display: block;
    margin: auto;
}

.historico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}

.autora_titulo {
    display: grid;
    justify-content: center;
    background-color: antiquewhite;
}

/* Media Queries para telas menores */
@media only screen and (max-width: 768px) {
    body {
        font-family: 'Courier New', Courier, monospace;
        background-image: url(imagens/297.jpg);
    }

    .Navegação {
        display: flex;
        flex-direction: column;
        background-color: beige;
        justify-content: space-around;
    }

    #Lista_horizontal {
        display: flex;
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        justify-content: space-around;
        list-style-type: none;
        width: 100%; /* Ajuste para usar largura total */
    }

    .news {
        display: grid;
        grid-template-columns: 1fr; /* Ajusta para 1 coluna em telas menores */
        justify-content: space-evenly;
    }
}
